:root {
    /* Sizes */
    font-size: 12px;
    --container-width: 1350px;

    /* Colors */
    --primary-color: #920101;
    --primary-color: rgb(230, 230, 230);
    --secondary-color:  rgb(250, 250, 245);
    --primary-color : rgb(255, 111, 97);
    --main-bg: rgb(22, 102, 148);
}

/* NORMALIZER */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* BODY*/
/* CONTAINER */
.title{
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
}

/* ANIME FORM */
.button-form{
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: #fff;
}

.anime-form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 1rem;
}

.form-id{
    width: 100%;
    border: none;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--primary-color);
    color: #fff;
}


.anime-datas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
}

.anime-datas > ul, 
.anime-datas > ul > li:nth-child(2), 
.anime-datas > ul > li:nth-child(3) {
    margin-top: 1rem;
}

@media screen and (min-width: 520px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row: repeat(2,1fr);
        justify-content: center;
        align-items: center;
    }

    .anime-datas{
        padding: 1rem 0;
    }
}

@media screen and (min-width: 768px) {
    .anime-form{
        width: 50%;
    }
}